@model PROG2231_Assignment2__9031031_.Models.Laptop
@{
    ViewData["Title"] = "Edit Laptop";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

<h2 class = "text-center">@ViewData["Title"]</h2>

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="LaptopId" />
            <div class="form-group mb-3">
                <label asp-for="Model" class="form-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Brand" class="form-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Year" class="form-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
                <div class="form-group mb-3 text-center">
                <input type="submit" value="Save" class="btn btn-dark" />
                <a asp-action="Index" class="btn btn-outline-warning rounded shadow-sm">Back to List</a>
            </div>
            
        </form>
    </div>
</div>

</body>
</html>
