@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6 mb-4">Smart · Simple · MJ HUB</h1>
    <p>All About Laptops 💻 All in One Place</p>
    <div class="text-center mb-4">
        <img src="~/img/MJ_Logo.png" alt="Laptop Image" class="img-fluid rounded shadow-sm mb-4" style="max-width: 200px;">
    </div>
</div>
