@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6 mb-4">MJ Line · Everyday Style · Wear</h1>
    <p>Welcome to the MJ LINE's Clothings Page</p>
    <div class="text-center mb-4">
        <img src="~/images/mjline_logo.png" alt="MJ LINE LOGO IMAGE" class="img-fluid rounded shadow-sm mb-4" style="max-width: 200px;">
    </div>
</div>
