@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <p class="mb-4">Use this page to detail your site's privacy policy</p>
    <img src="~/images/mjline_logo.png" alt="MJ LINE logo Image" class="img-fluid rounded shadow-sm mb-4" style="max-width: 200px;">
</div>
